<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>阳光社区.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>46F3FB28B63D731304EDF116F7BE645AD5504874</string>
				<key>dateExpires</key>
				<string>2019/9/29</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>M4DK2Q5C22.com.hisu.yangguangshequ</string>
				<key>com.apple.developer.team-identifier</key>
				<string>M4DK2Q5C22</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>M4DK2Q5C22.com.hisu.yangguangshequ</string>
				</array>
			</dict>
			<key>name</key>
			<string>阳光社区.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>434c1eb6-02a2-4654-ae70-0c22e211f31e</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.hisu.yangguangshequ</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>M4DK2Q5C22</string>
				<key>name</key>
				<string>ShuaiLei Li</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
